@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --coral: #ff6a39;
  --deckfusion-blue: #392e7b;
  --midnight-blue: #282876;
  --light-slate-grey: #8181ac;
  --medium-slate-blue: #836ae4;
}

@layer components {
  body {
    @apply min-h-screen;
  }
}

.centered {
    width: 85%;
    max-width: 1250px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none !important;
}

.section-chunk {
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  margin-bottom: 20px;

  @media (min-width: 2000px) {
    margin-bottom: 85px;
  }
}

.button {
  cursor: pointer;
  border-radius: 10px;
  background-color: #6d68fb;
  line-height: 1.5;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 500;
  font-size: 0.875rem;
  color: #ffffff;
  transition: all 200ms ease;
}

.button:hover {
    background-color: var(--midnight-blue);
}

.input,
.button {
  max-width: 250px;
}

.input {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db;
    outline: none;
    width: 100%;

    @media (min-width: 1024px) {
      width: auto;
    }
}

.input:focus {
    box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.5);
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: auto;

  img {
    height: 2.5rem;
    width: auto;
  }
}

.header {
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 40px;
  background-color: #ffffff;
  top: 0;
  position: sticky;
  z-index: 1000;

  @media (min-width: 2000px) {
    margin-bottom: 180px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media (max-width: 768px) {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}

.footer-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    margin-bottom: 40px;
    flex-direction: column;
    align-items: start;
  }
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;

  a {
    padding: 0 0 !important;
  }

  @media (max-width: 768px) {
    align-items: flex-start;
    text-align: left;
  }
}

.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;

  @media (max-width: 768px) {
    align-items: flex-start;
    text-align: left;
  }

  p {
    color: var(--midnight-blue);
    font-size: 20px;
    font-weight: 500;
  }
}

.footer-socials-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  @media (max-width: 768px) {
    justify-content: flex-start;
  }

  a img {
      width: 24px;
      height: 24px;
      transition: transform 0.3s ease;
  }

  a:hover img {
      transform: scale(1.1);
  }
}

.footer-sitemap {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4rem;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 0.5rem;
  }

  a {
    font-size: 16px;
  }
}

.footer-copyright {
  position: absolute;
  right: 0;
  bottom: -20px;
  font-size: 14px;
  color: var(--light-slate-grey);
  margin-bottom: 40px;

  @media (max-width: 768px) {
    left: 0;
    bottom: -30px;
  }
}


.nav-bar {
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-items {
  display: none;
  align-items: center;
  gap: 2.5rem;

  @media (min-width: 1024px) {
    display: flex;
  }
}

.nav-items-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.nav-item {
  padding: 4px 0;
  line-height: 1.5;
  color: #282876;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  display: inline-block;
  transition: color 0.2s ease-in-out;
}

.nav-item:hover {
  color: #7f7dbe;
}

.nav-item-contact {
  display: none;
  justify-content: flex-end;
  align-items: center;
  width: auto;

  @media (min-width: 1024px) {
    display: flex;
  }
}

.nav-item-contact-mobile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
}

.nav-hamburger {
  display: flex;
  align-items: center;

  @media (min-width: 1024px) {
    display: none;
  }

  svg {
    height: 1.5rem;
    width: 1.5rem;
    stroke: var(--medium-slate-blue);
  }

  button {
    padding: 0.5rem;
    outline: none;
  }

  button:focus {
    outline: none;
  }
}

.mobile-menu {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: 1024px) {
      display: none;
    }

    nav {
      padding: 0 20px;
    }
}

.mobile-menu.expanded {
    max-height: 500px;
    padding: 20px 20px;
    opacity: 1;
}

.hero-h1 {
    margin: 0 auto;
    color: var(--deckfusion-blue);
    font-family: Poppins, sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;

    @media (min-width: 768px) {
      font-size: 48px;
      line-height: 50px;
    }
}

.hero-h1-contact {
    line-height: 50px;
    text-align: left;

    @media (min-width: 768px) {
      line-height: 60px;
    }
}

.hero-gradient {
    background-image: linear-gradient(to right, #6d68fb, #b20eff 54%, var(--coral));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.hero-p {
    color: var(--light-slate-grey);
    margin-top: 10px;
    margin-bottom: 0;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.early-access-form {
  @apply flex flex-col lg:flex-row items-center lg:space-x-4 space-y-4 lg:space-y-0;
  height: 140px;
  padding: 20px 0;

  @media (min-width: 1024px) {
        height: 80px;
    }
}

.early-access-message {
    height: 140px;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    color: var(--deckfusion-blue);
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    padding: 20px 0;

    @media (min-width: 1024px) {
        height: 80px;
    }
}

.hero-video-container {
  width: 100%;
  max-width: 880px;
  height: auto;
  max-height: 500px;
  border-radius: 15px;
  box-shadow: 0 13px 50px #1a2a4e52;
  margin-bottom: 40px;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  background-size: cover;
}

.hero-logos {
  display: none;
  max-width: 880px;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  @media (min-width: 768px) {
    display: flex;
  }
}

.hero-logo {
  max-height: 25px;
  width: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 1rem;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border: 1px solid rgba(230, 230, 230, 1);

  @media (max-width: 768px) {
    max-width: 90%;
  }
}

.contact-form-row {
    display: flex;
    gap: 1rem;
}

.contact-form-row .contact-form-input {
    flex: 1;
}

.contact-form-input {
  max-width: none;
  width: 100%;
  padding: 10px;
  background-color: #f8f9fa;
}

.background-blur {
  z-index: -1;
  background-color: #0000;
  border-radius: 100%;
  margin-left: 0%;
  margin-bottom: 0%;
  position: absolute;
  overflow: hidden;

  img {
    object-fit: contain;
    background-color: #0000;
    width: 100%;
    height: 100%;
  }
}

.background-blur-1 {
  width: 110%;
  inset: -36% -29% auto auto;
}

.background-blur-2 {
  width: 90%;
  inset: 19% auto auto -33%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

.wave-container {
  position: absolute;
  width: 100%;
  height: auto;
  inset: auto 0 20% 0;
  z-index: -1;
  overflow: hidden;

  @media (max-width: 768px) {
    inset: auto 0 40% 0;
  }
}

.wave-image {
  position: relative;
  width: 120%;
  height: auto;
  transform: translateX(-5%);
}

.wave-image-1 {
  filter: hue-rotate(250deg);
}

.wave-image-2 {
  filter: hue-rotate(330deg);
}

.wave-cover-left {
  position: absolute;
  top: 0;
  left: -10%;
  width: 120%;
  height: 100%;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  transform: translate3d(100%, 0, 0);
}

.wave-slide-in {
  animation: slideIn 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes slideIn {
  0% {
    transform: translate3d(0%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
