{% extends 'pages/partials/base_page.html' %}
{% load static %}

{% block title %}
DeckFusion | Revolutionizing Decks with AI and Data Fusion
{% endblock %}

{% block content %}
<!-- Section: Hero -->
<section>

    <!-- Section Chunk -->
    <div class="section-chunk centered fade-in">

        <!-- Heading -->
        <h1 class="hero-h1">
            Simplify Deck Creation
            <br>
            with AI&nbsp;and Data
            <span class="hero-gradient">
                Fusion.
            </span>
        </h1>
        <p class="hero-p">Save time on your client audits &amp; data reports - Sign up for Early Access!</p>


        <!-- Early Access Form -->
        <form class="early-access-form">
            <input type="email" name="email" placeholder="Your Work Email" class="input" required>
            <input type="submit" value="Get Early Access" class="button px-6 py-2 text-white font-medium w-full lg:w-auto">
        </form>
    </div>

    <!-- Wave Underlay -->
    <div class="wave-container">
      <img src="{% static 'images/wave.png' %}" alt="Wave" class="wave-image">
      <div class="wave-cover-left wave-slide-in"></div>
    </div>

    <!-- Section Chunk -->
    <div class="section-chunk centered">

        <!-- Hero Video -->
        <div class="hero-video-container centered">
            <video
                class="hero-video centered"
                autoplay
                loop
                muted
                playsinline
                style="background-image: url('{% static "images/hero-poster.jpg" %}')"
                data-object-fit="cover">
                <source src="https://pub-5fc5622dfb6942aa92f5ad00d45f7aef.r2.dev/hero-video.mp4" type="video/mp4">
                <source src="https://pub-5fc5622dfb6942aa92f5ad00d45f7aef.r2.dev/hero-video.webm" type="video/webm">
                Your browser does not support the video tag.
            </video>
        </div>

        <!-- Hero Logos -->
        <div class="hero-logos centered">
            <img src="https://pub-5fc5622dfb6942aa92f5ad00d45f7aef.r2.dev/hero-logo-microsoft.svg" loading="lazy" alt="" class="hero-logo">
                <img src="https://pub-5fc5622dfb6942aa92f5ad00d45f7aef.r2.dev/hero-logo-hubspot.svg" loading="lazy" alt="" class="hero-logo">
                <img src="https://pub-5fc5622dfb6942aa92f5ad00d45f7aef.r2.dev/hero-logo-google.svg" loading="lazy" alt="" class="hero-logo">
                <img src="https://pub-5fc5622dfb6942aa92f5ad00d45f7aef.r2.dev/hero-logo-facebook.svg" loading="lazy" alt="" class="hero-logo">
                <img src="https://pub-5fc5622dfb6942aa92f5ad00d45f7aef.r2.dev/hero-logo-ppt.svg" loading="lazy" alt="" class="hero-logo">
            </div>
        </div>
    </section>
{% endblock %}
