{% load static %}

<!DOCTYPE html>

<!-- HTML -->
<html lang="en">

    <!-- Head -->
    <head>

        <!-- Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Title -->
        <title>DeckFusion | Revolutionizing Decks with AI and Data Fusion</title>

        <!-- Favicon -->
        <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

        <!-- CSS -->
        <link href="{% static 'css/main.css' %}" rel="stylesheet">

        <!-- JS -->
        <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
        <script src="{% static 'js/confetti.js' %}"></script>
        <script src="{% static 'js/hamburger.js' %}"></script>

        <!-- Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" media="all">

    </head>

    <!-- Body -->
    <body>

        <!-- Header -->
        <header class="header">

            <!-- Nav Bar -->
            <div class="nav-bar centered">

                <!-- Logo -->
                <div class="logo">
                    <a href="/" aria-label="home">
                        <img src="{% static 'images/logo-main.svg' %}" alt="DeckFusion Logo">
                    </a>
                </div>

                <!-- Hamburger Button -->
                <div class="nav-hamburger">
                    <button id="mobile-menu-toggle" aria-label="Toggle menu">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                        </svg>
                    </button>
                </div>

                <!-- Nav Links -->
                <nav class="nav-items">
                    <a href="https://www.deckfusion.com/#features" class="nav-item">Features</a>
                    <a href="https://www.deckfusion.com/#integrations" class="nav-item">Integrations</a>
                    <a href="https://www.deckfusion.com/#ai" class="nav-item">AI Assistant</a>
                    <a href="https://www.deckfusion.com/#liveeditor" class="nav-item">Deck Editor</a>
                    <a href="https://www.deckfusion.com/#testimonials" class="nav-item">Testimonials</a>
                </nav>

                <!-- Contact Button -->
                <div class="nav-item-contact">
                    <a href="/contact-us" class="button">Let's Talk</a>
                </div>
            </div>

            <!-- Mobile Menu -->
            <div id="mobile-menu" class="mobile-menu">
                <nav class="nav-items-mobile">
                    <a href="#features" class="nav-item">Features</a>
                    <a href="#integrations" class="nav-item">Integrations</a>
                    <a href="#ai" class="nav-item">AI Assistant</a>
                    <a href="#liveeditor" class="nav-item">Deck Editor</a>
                    <a href="#testimonials" class="nav-item">Testimonials</a>
                </nav>
                <div class="nav-item-contact-mobile">
                    <a href="/contact-us" class="button">Let's Talk</a>
                </div>
            </div>
        </header>

        <!-- Section: Hero -->
        <section>

            <!-- Section Chunk -->
            <div class="section-chunk centered fade-in">

                <!-- Heading -->
                <h1 class="hero-h1">
                    Simplify Deck Creation
                    <br>
                    with AI&nbsp;and Data
                    <span class="hero-gradient">
                        Fusion.
                    </span>
                </h1>
                <p class="hero-p">Save time on your client audits &amp; data reports - Sign up for Early Access!</p>


                <!-- Early Access Form -->
                <form class="early-access-form">
                    <input type="email" name="email" placeholder="Your Work Email" class="input">
                    <input type="submit" value="Get Early Access" class="button px-6 py-2 text-white font-medium w-full lg:w-auto">
                </form>
            </div>

            <!-- Wave Underlay -->
            <div class="wave-container">
              <img src="{% static 'images/wave.png' %}" alt="Wave" class="wave-image">
              <div class="wave-cover-left wave-slide-in"></div>
            </div>

            <!-- Section Chunk -->
            <div class="section-chunk centered">

                <!-- Hero Video -->
                <div class="hero-video-container centered">
                    <video
                        class="hero-video centered"
                        autoplay
                        loop
                        muted
                        playsinline
                        style="background-image: url('{% static "images/hero-poster.jpg" %}')"
                        data-object-fit="cover">
                        <source src="https://pub-5fc5622dfb6942aa92f5ad00d45f7aef.r2.dev/hero-video.mp4" type="video/mp4">
                        <source src="https://pub-5fc5622dfb6942aa92f5ad00d45f7aef.r2.dev/hero-video.webm" type="video/webm">
                        Your browser does not support the video tag.
                    </video>
                </div>

                <!-- Hero Logos -->
                <div class="hero-logos centered">
                    <img src="https://pub-5fc5622dfb6942aa92f5ad00d45f7aef.r2.dev/hero-logo-microsoft.svg" loading="lazy" alt="" class="hero-logo">
                    <img src="https://pub-5fc5622dfb6942aa92f5ad00d45f7aef.r2.dev/hero-logo-hubspot.svg" loading="lazy" alt="" class="hero-logo">
                    <img src="https://pub-5fc5622dfb6942aa92f5ad00d45f7aef.r2.dev/hero-logo-google.svg" loading="lazy" alt="" class="hero-logo">
                    <img src="https://pub-5fc5622dfb6942aa92f5ad00d45f7aef.r2.dev/hero-logo-facebook.svg" loading="lazy" alt="" class="hero-logo">
                    <img src="https://pub-5fc5622dfb6942aa92f5ad00d45f7aef.r2.dev/hero-logo-ppt.svg" loading="lazy" alt="" class="hero-logo">
                </div>
            </div>
        </section>

        <!-- Section: Footer -->
        <footer class="footer centered">

            <!-- Logo -->
            <div class="footer-logo logo">
                <img src="{% static 'images/logo-main.svg' %}" alt="DeckFusion Logo">
                <a href="mailto:admin@deckfusion.com" class="nav-item">admin@deckfusion.com</a>
            </div>

            <!-- Sitemap -->
            <div class="footer-sitemap">
                <a class="nav-item" href="https://www.deckfusion.com/reference/privacy-policy">Privacy Policy</a>
                <a class="nav-item" href="https://www.deckfusion.com/reference/terms-of-service">Terms &amp;&nbsp;Conditions</a>
                <a class="nav-item" href="/contact-us">Contact Us</a>
            </div>

            <!-- Socials -->
            <div class="footer-socials">
                <p>Connect with Us</p>
                <div class="footer-socials-icons">
                    <a href="http://facebook.com/deckfusion" target="_blank" aria-label="Facebook"><img src="{% static 'images/icon-facebook.svg' %}" alt="Facebook"></a>
                    <a href="http://x.com/deckfusion" target="_blank" aria-label="Twitter"><img src="{% static 'images/icon-x.svg' %}" alt="X"></a>
                    <a href="https://www.linkedin.com/company/deckfusion/" target="_blank" aria-label="LinkedIn"><img src="{% static 'images/icon-linkedin.svg' %}" alt="LinkedIn"></a>
                    <a href="http://instagram.com/deckfusion" target="_blank" aria-label="Instagram"><img src="{% static 'images/icon-instagram.svg' %}" alt="Instagram"></a>
                </div>
            </div>
        </footer>
    </body>
</html>
