{% load static %}

<!DOCTYPE html>

<!-- HTML -->
<html lang="en">

<!-- Head -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DeckFusion{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
</head>

<!-- Body -->
<body>
    {% include 'pages/partials/base_header.html' %}

    <main>
        {% block content %}
        <!-- Content -->
        {% endblock %}
    </main>

    {% include 'pages/partials/base_footer.html' %}
</body>

</html>
